<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifecode.mybatis.mapper.UserMapper">

	<sql id="sqlUserFields">
		a.user_id
		,a.password
		,a.type
		,a.name
		,a.email
		,a.occupation
		,a.company_name
		,a.phone
		,a.address
		,a.city
		,a.country
		,a.linkedin
		,a.facebook
		,a.twitter
		,a.instagram
		,a.user_type_cd
		,a.avatar_path
		,a.join_date
		,a.note
	</sql>
	
	<select id="selectUsers" resultType="UserVO">
		SELECT
			<include refid="sqlUserFields"></include>
		FROM
			USERS A
			<choose>
				<when test='user_id != null and user_id != ""'>
					WHERE A.USER_ID = #{user_id}
				</when>
				<when test='post_id != null and post_id != ""'>
					LEFT JOIN POSTS_AUTHORS B ON A.USER_ID = B.USER_ID
					LEFT JOIN POSTS C ON B.POST_ID = C.POST_ID
					WHERE C.POST_ID = #{post_id}
				</when>
				<otherwise>
				</otherwise>
			</choose>
			GROUP BY A.USER_ID
	</select>
	
	<select id="getUserById" resultType="UserVO">
		SELECT
		<include refid="sqlUserFields"></include>
		FROM USERS A
		WHERE A.USER_ID = #{user_id}
	</select>
</mapper>